.Rproj.user
.Rhistory
.RData
.Ruserdata
^.Rd2pdf*
# ignore notebook cache
*.nb.html
# ignore documentation files (man/*.Rd), they are rebuild every time.
*.Rd
my_R_log.txt
provamsopt.pdf
inst/doc
multiDoE_*.tar.gz
